@import '../../assets/styles/settings.scss';

.cooking-wrapper {
    width: 100%;
    height: 1294px;
    background: url('../../assets/images/bg-cooking.png')no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    background-position: center;
    justify-content: center;
    .body {
        width: 125vh;
        display: flex;
        align-items: center;

        .left {
            position: relative;
            width: 70%;

            img {
                position: relative;
                bottom: -200px;
                left: -200px;

            }
        }

        .right {
            position: relative;
            right: 250px;
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            #bold-text {
                font-feature-settings: 'clig' off, 'liga' off;
                text-wrap: nowrap;
                font-size: 48px;
                font-style: normal;
                font-weight: 500;
                line-height: 60px;
                letter-spacing: -1px;
                color: #fff;
            }
            
            #small-text {
                color: #fff;
                font-size: 21px;
                font-style: normal;
                font-weight: 400;
                line-height: 143%;
                letter-spacing: -0.2px;
                text-wrap: nowrap;
            }
        }
    }

    #fluid {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 2;
    }
}

@media(max-width:620px){
    .cooking-wrapper{

            .body{  
                width: 90vh;
                .left{
                    display: none;
                }
                .right{
                    width: auto;
                    left: 0;
                    span{
                        text-align: center;
                    }
                    #bold-text{
                        font-size: 30px;
                        line-height: normal;
                        text-wrap: pretty;
                        text-align: center;
                    }
                    #small-text{
                        text-wrap: pretty;
                        font-size: 18px;
                        line-height: normal;
                        text-align: center;
                    }
                    div{
                        text-align: center;
                    }
                }
            }
        }
    }
