@import './assets/styles/settings.scss';
.app{
    position: relative;
    overflow: hidden !important;
    .paralax-items{
        #berry-1{
        position: absolute;
        top: 1500px;
        left: 6%;
        z-index: 2;
    }
    #berry-2{
        position: absolute;
        left: 0;
        top: 5%;
        z-index: 2;
    }
    #berry-3{
        position: absolute;
        right: -50px;
        top: 5%;
        z-index: 2;
    }
    #berry-4{
        position: absolute;
        right: 20px;
        top: 900px;
        z-index: 2;
    }
    #berry-5{
        position: absolute;
        right: 20px;
        top: 3300px;
        z-index: 2;
    }
    #berry-6{
        position: absolute;
        right: 620px;
        top: 4300px;
        z-index: -1;
    }
    #leaf-1{
        position: absolute;
        right: 100px;
        top: 2200px;
        z-index: 2;
    }
    #leaf-2{
        position: absolute;
        left: 100px;
        top: 2500px;
        z-index: 2;
    }
    #leaf-3{
        position: absolute;
        left: 300px;
        top: 3300px;
        z-index: 2;
    }
    #leaf-4{
        position: absolute;
        right: 320px;
        top: 4300px;
        z-index: -1;
    }
    }
    
}

@media (max-width: 1000px) {
    .app{
        .paralax-items{
            display: none;
        }
    }
}
@media (max-width: 1560px) {
    .app{
        .paralax-items{
            #leaf-4{
                display: none;
            }
            #berry-6{
                display: none;
            }
        }
    }
}